<h1>Movies</h1>

<%= search_form_for @search do |f| %>
  
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table id="movies">
  <tr>
    <th><%= sort_link @search, :name, "Movie" %></th>
    <th><%= sort_link @search, :updated_at, "Updated at" %></th>
    <th><%= sort_link @search, :average_rating, "Rating" %></th>
  </tr>
</table>


<%= render @movies %>
